<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
    </appSettings>
    <userSettings>
        <TimeTray.Properties.Settings>
            <setting name="lunchtime" serializeAs="String">
                <value>09/24/2018 12:00:00</value>
            </setting>
            <setting name="breakfast" serializeAs="String">
                <value>09/24/2018 09:00:00</value>
            </setting>
            <setting name="laengeBreakfast" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="laengeLunch" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="laengeArbeitszeit" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="notifyCheck" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="notifyMinutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="feierabend" serializeAs="String">
                <value>09/25/2018 00:01:00</value>
            </setting>
        </TimeTray.Properties.Settings>
    </userSettings>
</configuration>